<main class="chat">
    <div class="chat__left-block">
        <nav>
            <a class="chat__link" href="/profile">
                <p class="chat__link-text">Профиль</p>
                <img class="chat__link-img" src="/arrow.svg">
            </a>
        </nav>
        <form>
            <input class="chat__search-input chat__link-text" type="search" placeholder="Поиск"/>
        </form>
        <div class="chat__line"></div>
        <nav>
            <ul class="chat__block-chats">
                {{{ ChatCard }}}
            </ul>
        </nav>
    </div>
    <div class="chat__block-message">
        <div class="chat__block-message-header">
            <div class="chat__block-message-avatar">
                <div class="chat__dimensions-avatar chat__avatar"></div>
                <h4 class="chat__user-name">Андрей</h4>
            </div>
            <img class="chat__block-message-header-menu" src="/menu.svg"/>
        </div>
        <div class="chat__content">
            {{{ Date }}}
            <div class="chat__block-chat-message">
                {{{ ChatMessage }}}
                {{{ MessageImage }}}
            </div>
            <div class="chat__block-user-message">
                {{{ ChatUserMessage }}}
            </div>
        </div>
        <span class="error">{{ error }}</span>
        <form class="chat__block-send-message">
            <img class="chat__send-message-clip" src="/clip.svg"/>
            <input class="chat__send-message-input" type="text" name="message" placeholder="Сообщение"/>
            <button type="submit" class="chat__send-message-button">
                <img class="chat__send-message-arrow" src="/arrow_right.svg"/>
            </button>
        </form>
    </div>
</main>
