<main class="chat">
    <div class="chat__left-block">
        <nav>
            <a class="chat__link" href="/profile">
                <p class="chat__link-text">Профиль</p>
                <img class="chat__link-img" src="/arrow.svg">
            </a>
        </nav>
        <form>
            <input class="chat__search-input chat__link-text" type="search" placeholder="Поиск"/>
        </form>
        <div class="chat__line"></div>
        <nav>
            <ul class="chat__block-chats">
                {{{ ChatCard }}}
            </ul>
        </nav>
    </div>
    <div class="chat__block-message">
        <div class="chat__block-message-header">
            <div class="chat__block-message-avatar">
                <div class="chat__dimensions-avatar chat__avatar"></div>
                <h4 class="chat__user-name">{{ chatName }}</h4>
            </div>
            <button class="chat__block-message-button">
                <img class="chat__block-message-header-menu" src="/menu.svg"/>
            </button>
            <div class="chat__modal-user">
                <div class="chat__modal-file-item chat__action-create-chat">
                    <div class="chat__plus-icon"></div>
                    <p class="chat__modal-file-text">Создать чат</p>
                </div>
                <div class="chat__modal-file-item chat__action-delete-chat">
                    <div class="chat__cross-icon"></div>
                    <p class="chat__modal-file-text">Удалить чат</p>
                </div>
                <div class="chat__modal-file-item chat__action-add-user">
                    <div class="chat__plus-icon"></div>
                    <p class="chat__modal-file-text">Добавить пользователя</p>
                </div>
                <div class="chat__modal-file-item chat__action-delete-user">
                    <div class="chat__cross-icon"></div>
                    <p class="chat__modal-file-text">Удалить пользователя</p>
                </div>
            </div>
        </div>
        <div class="chat__content">
            {{{ Messages }}}
        </div>
        <span class="error">{{ error }}</span>
        <form class="chat__block-send-message">
            <img class="chat__send-message-clip" src="/clip.svg"/>
            <input class="chat__send-message-input" type="text" name="message" placeholder="Сообщение"/>
            <button type="submit" class="chat__send-message-button">
                <img class="chat__send-message-arrow" src="/arrow_right.svg"/>
            </button>
        </form>
    </div>
    {{{ Modal }}}
</main>
