<main class="password-edit">
    {{{ ButtonBack }}}
    <form class="password-edit__container">
        {{{ AvatarProfile }}}
        <div class="password-edit__blocks-password">
            {{{ InputOldPassword }}}
            {{{ InputNewPassword }}}
            {{{ InputNewPasswordAgain }}}
        </div>
        {{{ ButtonSave }}}
    </form>
</main>
