<main class="profile">
    {{{ ButtonBack }}}
    <div class="profile__container">
        {{{ AvatarProfile }}}
        <h2 class="profile__title">{{ nameUser }}</h2>
        <div class="profile__blocks-info">
            {{{ EmailBlock }}}
            {{{ LoginBlock }}}
            {{{ FirstNameBlock }}}
            {{{ LastNameBlock }}}
            {{{ DisplayNameBlock }}}
            {{{ PhoneBlock }}}
        </div>
        <div class="profile__settings">
            <p class="profile__settings-item profile__text">Изменить данные</p>
            <p class="profile__settings-item profile__text">Изменить пароль</p>
            <a class="profile__link profile__text">Выйти</a>
        </div>
    </div>
</main>
