<main class="profile">
    {{{ ButtonBack }}}
    <div class="profile__container">
        {{{ AvatarProfile }}}
        <h2 class="profile__title">{{ nameUser }}</h2>
        <div class="profile__blocks-info">
            {{{ EmailBlock }}}
            {{{ LoginBlock }}}
            {{{ FirstNameBlock }}}
            {{{ LastNameBlock }}}
            {{{ DisplayNameBlock }}}
            {{{ PhoneBlock }}}
        </div>
        <div class="profile__settings">
            {{{ ChangeDataLink }}}
            {{{ ChangePasswordLink }}}
            {{{ LogoutLink }}}
        </div>
    </div>
</main>
