<div class="input-profile">
    <div class="input-profile__row">
        <label class="input-profile__label input-profile__text">{{ label }}</label>
        <input
                class="input-profile__input input-profile__text"
                name="{{ name }}"
                value="{{ value }}"
                type="{{ type }}"
                id="{{ id }}"
        />
    </div>
    <span class="error error-profile">{{ error }}</span>
</div>
