<main class="profile-edit">
    {{{ ButtonBack }}}
    <form class="profile-edit__container">
        {{{ AvatarProfile }}}
        <div class="profile-edit__blocks-info">
            {{{ InputEmail }}}
            {{{ InputLogin }}}
            {{{ InputFirstName }}}
            {{{ InputSecondName }}}
            {{{ InputDisplayName }}}
            {{{ InputPhone }}}
        </div>
        {{{ ButtonSave }}}
    </form>
</main>
