<main class="login">
    <form class="login__container">
        <h2 class="login__title">{{ title }}</h2>
        <div class="login__block-inputs">
            {{{ InputLogin }}}
            {{{ InputPassword }}}
        </div>
        <div class="login__block">
            {{{ ButtonLogin }}}
            {{{ LinkLogin }}}
        </div>
    </form>
</main>
