<div class="input-sign">
    <label class="input-sign__label">{{ label }}</label>
    <input class="input-sign__input" type="{{ type }}" id="{{ id }}" name="{{ name }}"/>
    <span class="{{ className }}">{{ error }}</span>
</div>
