<main class="register">
    <form class="register__container">
        <h2 class="register__title">{{ title }}</h2>
        <div class="register__block-inputs">
            {{{ InputEmail }}}
            {{{ InputLogin }}}
            {{{ InputFirstName }}}
            {{{ InputSecondName }}}
            {{{ InputPhone }}}
            {{{ InputPassword }}}
            {{{ InputPasswordAgain }}}
        </div>
        <div class="register__block">
            {{{ ButtonRegister }}}
            {{{ LinkRegister }}}
        </div>
    </form>
</main>
